.grid {
  margin-top: 30px;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  aspect-ratio: 1/1;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid grey;
  border-bottom: 2px slid grey;
  background: #cbc4c4;
}

.fieldSize {
  margin-top: 30px;
}
